



.allpage {
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow: hidden;
    overflow-y: auto;
    scroll-behavior: auto !important;
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-secondary);
    color: var(--color-body);
    font-weight: var(--p-regular);
    /* background: var(--banner-one-gradient-bottom);; */
    position: relative;
    overflow-x: hidden;
  }
  .cards{
    /* background: var(--color-primary); */
    margin-top: 2px;
    border: 2px solid var(--color-primary);
  }
  .homeheads{
    margin: 0;
    margin-bottom: 20px;
    word-break: break-word;
  font-family: var(--font-primary);
  line-height: 1.4074;
  color: var(--color-heading-1);
  }
   .gradtop {
    height: 622px;
    width: 622px;
    border-radius: 50px;
    position: absolute;
    left: -120px;
    top: -150px;
    background: var(--banner-one-gradient-top);
    filter: blur(200px);
    z-index: -1;
  }
  .gradbottom {
    height: 622px;
    width: 622px;
    border-radius: 50px;
    position: absolute;
    right: -120px;
    bottom: -150px;
    background: var(--banner-one-gradient-bottom);
    filter: blur(200px);
    z-index: -1;
  }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .allpage {
    overflow: hidden;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .allpage {
    overflow: hidden;
  }
}
@media only screen and (max-width: 767px) {
  .allpage {
    overflow: hidden;
  }
}

